/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

<<<<<<< HEAD
.family-description {
	background-color: theme('colors.orange.300');
}
=======

.family-description {
    background-color: theme('colors.orange.300');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
}
>>>>>>> 062e073b4eca96132b21cf39e2c543531f7bb940
